*{
    transition: cubic-bezier(.19,1,.22,1) 1s;
  }
  body{
    width:100%;
    height: 100%;
    margin: 0;
    text-align: center;
    overflow: hidden;
    font-family: 'sans-serif';
  }
  h2{
    margin-bottom:0;
  }
  p{
      margin-top:0.25em;
      margin-bottom:0;
      /* font-size:12px; */
  }