*{
  transition: cubic-bezier(.19,1,.22,1) 2s;
}
body{
  /* background-color: rgb(44, 167, 243); */
  padding:50px 80px;
  color: #575757;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
/* HEADER */
.site-header {
  height: 30px;
  padding: 20px 0px 0 0px;
}
.site-header,
.site-header a {
  color: #575757;
  font-weight: 700;
  text-decoration: none;
}
.site-header nav a:hover {
  color: #72767B;
  transition: cubic-bezier(.19,1,.22,1) 1s;
}
.site-header nav {
  float: right;
}
.site-header nav ul {
  margin: 0;
}
.site-header nav li {
  display: inline-block;
  margin-left: 40px;
  transition: none;
}

#container{
  margin: 15px 50px 0 50px;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.menu{
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  gap:2%; 
  width: 100%;
}
.searchContainer {
  display: flex;
  /* float:right; */
  justify-content: center;
  align-items: center;
  flex-direction: reverse;
  gap: 2%;
}
.searchIcon{
  cursor: pointer;
}
.container__input {
  border-color: transparent;
  color: #fff;
  background: #4e4e4ea8;
  display: none;
  border-radius: 10px;
  /* Take available width */
  flex: 1;
}
.search-active{
  transition: cubic-bezier(.19,1,.22,1) 2s;
  display: inline-flex;
}

.vizSample{
  /* padding: 100px; */
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/aee28f7c-d3b8-433a-8458-31c42534284b/d6cqoqc-412c8296-9145-4639-b6b7-b92888f20983.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2FlZTI4ZjdjLWQzYjgtNDMzYS04NDU4LTMxYzQyNTM0Mjg0YlwvZDZjcW9xYy00MTJjODI5Ni05MTQ1LTQ2MzktYjZiNy1iOTI4ODhmMjA5ODMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.aPKL00bIVrYRyBmVWiodmw-XLc4RhIB9QpTTXopIC2c");
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  width: 90%;
  height: 90%;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,.7);
}
.vizSample img{
  width:100%;
  padding: 5px;
  height: 100%;
  margin: auto;
}
.sort{
  position: relative;
  cursor: pointer;
}
.sortingCategories{
  display: none;
  right: -10px;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 9999;
  height: 90px;
  width: 60px;
  padding:10px;
  border:0.5px solid #575757a1;

}

.sort:hover .sortingCategories {
  display: block;
}
.notice{
  position: absolute;
  width: fit-content;
  right: 75px;
  font-size: small;
  z-index: -1;
  text-align: right;
  color: #7d7d7d;
  transform: translateY(-30px);
  transition: cubic-bezier(.19,1,.22,1) 1s;
  opacity: 0;
}
.noticeActive{
  transform: translateY(-8px);
  opacity: 1;
}